li {
  list-style-type:  none;
}

.content__menu {
  width: 232px;
  height: 212px;

  padding: 20px 0;

  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.content__transfer {
  padding: 7px 20px;
}

.content__title {
  font-size: 12px;
  text-transform: uppercase;

  padding: 0px 20px;

  margin-bottom: 13px;
}

.text {
  font-size: 13px;
  padding-left: 10px;
}

