li {
  list-style-type: none;
}

.content__menu {
  min-width: none;
  max-width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  @media (min-width: 850px) {
    min-width: 232px;
    height: 252px;
    margin-bottom: 10px;
  }
}

.content__menu-container {
  width: 100%;
}

.content__title {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  padding: 0px 20px;

  margin-bottom: 10px;
  margin-top: 20px;
}
