.link__btn {
  width: 168px;
  height: 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;

  &:hover {
    background-color: rgb(241, 252, 255);
    transition: background-color 0.5s ease-in-out;
  }
  &:focus {
    color: #ffff;
    background-color: rgb(33, 150, 243);
    transition: background-color 0.3s ease-in-out;
  }
  &:active {
    color: #ffff;
    background-color: rgb(15, 63, 101);
    transition: background-color 0.5s ease-in-out;
  }
}

.link__btn-price {
  display: flex;
}

.price-segment {
  margin-bottom: 20px;
}

.cheap {
  border-right: transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.optimal {
  border-left: transparent;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.activeType {
  padding: 2px;
}
