.link__btn {
  width: 168px;
  height: 50px;
  text-transform: uppercase;
  &:focus {
    color: #ffff;
    background-color: rgb(33, 150, 243);
  }
  &:hover {
    color: #ffff;
    background-color: rgb(33, 150, 243);
  }
}

.link__btn-price {
  display: flex;
}

.price-segment {
  margin-bottom: 20px;
}

.cheap {
  border-right: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.optimal {
  border-left: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
