@import './component/AsideMenu/MenuFilterTicket.module.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #4a4a4a;
}

.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  @media (min-width: 850px) {
    padding: 50px 0;
  }
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  font:
    10px/1.2 'Open Sans',
    sans-serif;
  background: #f3f7fa;
  color: #4a4a4a;
  @media (min-width: 850px) {
    font:
      16px/1.4 'Open Sans',
      sans-serif;
  }
}

button {
  background-color: #ffffff;
  border: 0.5px solid #dfe5ec;
}

.aviation-content {
  margin: 0 auto;
}

.content {
  display: grid;
  column-gap: 20px;
  @media (min-width: 850px) {
    grid-template-columns: minmax(0, 232px) minmax(0, 1fr);
    column-gap: 20px;
  }
}

.loading {
  font-size: 18px;
}
